target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### H2 local data ###
data/
*.db
*.mv.db
*.trace.db

### IDE ###
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env
